/*--------------------SIDEBAR--------------------*/
.sidebar-cart {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    max-width: 450px;
    height: 100dvh;
    background-color: #ffffff;
    z-index: 9999;
    box-shadow: -5px 0 10px rgba(63, 63, 63, 0.15);
    transition: right 0.4s cubic-bezier(0.77, 0, 0.175, 1);
    
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: #121212;
}

.sidebar-cart.open {
    right: 0; 
}

.sidebar-cart .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 16px;
    margin-bottom: 32px;
}

.sidebar-cart .top button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
}

.sidebar-products-list {
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    overscroll-behavior: contain;
    -webkit-overflow-scrolling: touch;
}

.sidebar-cart .total-container {
    border-top: 1px solid #e0e0e0;
    padding-top: 24px;
    margin-top: 16px;
}

.sidebar-cart .btn-checkout {
    width: 100%;
    padding: 16px;
    background-color: #191919;
    color: #f3f3f3;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 16px;
    transition: background-color 0.3s;
}

.sidebar-cart .btn-checkout:hover {
    background-color: #333;
}